

.chip {
    display: inline-flex;
    align-items: center;
    background-color: #ede9f2;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: black;
  }
  
  .chip span {
    margin-right: 5px;
  }
  
  .chip button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
  }
  .chip img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 5px;
    border-radius: 50%;
  }
  